#menu-tag{
    color:blue;
    text-decoration: none;
     margin-right: 30px;
    padding-left:20px
}
.menu{
     display: inline;
    font-size: 20px;
    text-decoration: none;
    color:black;
   
}
.header-container{
    padding:1px;
    border-bottom: 2px dashed black
    
}
#heading{
    font-size: 10px;
    padding:10px;
    margin-top:50px;
     text-decoration: none;
    color:white;
    font-family:cursive
    
}
li{
    list-style-type: none;
    display: inline;
}

#menu-tag:hover{
    font-size:20px;
    font-family: monospace
}
h2{
    font-family:sans-serif;
    background-color:#37BF91;
}

p{
    font-family: monospace;
    font-size:2em;
    text-align: justify
}
.centered{
    top:80%;
    left:50%;
    display: flex;
    transform: translate(-30%, -0%);
    position:relative;
    
}
.main1{
      overflow: hidden;
        float: top;
        list-style: none;
        padding-right: 90px;
        position: fixed;
         top:0;
        width:100%;
         display: flex;
        flex-wrap: wrap;
     background-color: #ccc6;
        
       
    }
    
    .main1 li {
        display: inline-block;
        margin-left: 40px;
        color: black;
       
    }
    
    .main1 li a:link,
    .main1 li a:visited {
        padding: 8px 0;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        transition: border-bottom 0.2s;
         
    }


















